[Service]
Type=oneshot
ExecStart=/bin/curl -H authorization:token\s${github} -d {\"event_type\":\"12h\"} https://api.github.com/repos/chaowenguoorg0/pal/dispatches
ExecStart=/bin/curl -H authorization:token\s${github} -d {\"event_type\":\"12h\"} https://api.github.com/repos/chaowenguoorg0/mime/dispatches
