[Timer]
OnBootSec=0
OnUnitActiveSec=12h 15min

[Install]
WantedBy=timers.target
#systemctl enable subscribe.timer --now #ln -s /usr/lib/systemd/system/subscribe.timer /etc/systemd/system/timers.target.wants/subscribe.timer && systemctl start subscribe.timer
#this file should be in /usr/lib/systemd/system
#systemctl list-timers
#/etc/systemd/system.conf
#[Manager]
#DefaultEnvironment=github=密码 password=密码
#systemctl daemon-reexec
