[Service]
ExecStart=/bin/curl -H authorization:token\s${github} -d {\"event_type\":\"ptc\"} https://api.github.com/repos/chaowenguoorg/mime/dispatches
